.bg-banner {
    background-image: url(../images/bg2.jpg);
    background-size: 100%;
    border-radius: 0%;
    /* background-repeat: no-repeat; */
}

.color-grad {
    background: linear-gradient(to left, #ec5252, #6e1a52);
}